.mid-news {
}

.mid-news-category {
  font-size: 10px;
  color: rgb(0, 72, 97);
  font-weight: bold;
  line-height: 2.1;
  text-align: left;
}

.mid-news-title {
  font-size: 18px;
  color: rgb(9, 9, 9);
  font-weight: bold;
  line-height: 1.111;
  text-align: left;
  margin-top: 3px;
}

.mid-news-description {
  font-size: 14px;
  color: rgb(9, 9, 9);
  line-height: 1.429;
  text-align: left;
}

.black-share-icon {
  position: absolute;
  width: 24px;
  height: 20px;
  left: 15px;
  top: 235px;
}
