.small-news-row {
  @media screen and (min-width: 540px) {
    height: 300px;
  }
}

.small-news-label {
  margin-top: 4px;
}

.sm-black-share-icon {
  position: absolute;
  width: 24px;
  height: 20px;
  left: 15px;
  top: 280px;
}
