.propaganda-slot {
  display: block;
  height: 150px;
  background-color: #EEEEEE;
  text-align: center;
  margin-top: 30px;
  border: 1px solid #CCCCCC;
  
}

.propaganda-placeholder {
  height: 90px;
  width: 728px;
  background-color: #CCCCCC;
  border: 1px solid #999999;
  display: inline-block;
  margin-top: 30px;
}

.propaganda-pattern{
  font-size: 10px;
  color: rgba(0, 0, 0, 0.502);
  line-height: 1.2;
  padding-right: 580px;
}
