.news {
  margin-top: 30px;
}

.section-news .news {
  margin-top: 0px;
}

.news-img {
  width: 100%;
}

.section-title {
  font-size: 24px;
  color: rgb(0, 71, 97);
  font-weight: bold;
  line-height: 1.333;
  text-align: left;
}