.news {
  margin-top: 30px;
}

.section-news .news {
  margin-top: 0px;
}

.news-img {
  width: 100%;
}

.section-title {
  font-size: 24px;
  color: rgb(0, 71, 97);
  font-weight: bold;
  line-height: 1.333;
  text-align: left;
}

.section-divider {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  height: 33px;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.section-divider-content {
  padding-top: 7px;
  text-align: right;
  font-size: 18px;
  color: rgb(0, 72, 97);
  font-weight: bold;
  line-height: 1.111;
}